<div class="phx-hero">
  <h2>Last 30 Sales</h2>
  <h3><%= @ticker %></h3>
  <ul class="left-aligned-list">
    <li>Price: <span id="price"></span></li>
    <li>Size: <span id="size"></span></li>
    <li>Time (EST): <span id="time"></span></li>
    <li>Type: <span id="type"></span></li>
  </ul>
  <canvas id="myChart" style="position: relative; height:80vh; width:80vw"></canvas>
</div>
